$main-color: #27282b;
$ease-speed: 0.6s ease;
@mixin search-border($width,$style,$color) {
	border: {
		width: $width;
		style: $style;
	    color: $color;
	}
}
@mixin border-radius($radius) {
	-moz-border-radius: $radius !important;
	-webkit-border-radius: $radius !important;
	border-radius: $radius !important;
}
@mixin imagery {
    margin: 10px 0;
    > img {
            margin: auto;
    }
}
body{
	color: $main-color;
}
h1{
	color: #007fb1;
	font-weight: normal;
	font-size: 2.857em;
	margin: 40px 15px 0 15px;
}
.container{
	-webkit-transition: all $ease-speed;
	-moz-transition: all $ease-speed;
	-ms-transition: all $ease-speed;
	-o-transition: all $ease-speed;
	transition: all $ease-speed;            
}
.search-form{
	width: calc(100% - 30px);
	margin: 20px 15px;
		> input.form-control{
		    box-shadow: none;
		    padding: 15px;
		    margin: 20px 0 10px 0;
		    line-height: 30px;
		    min-height: 55px;
		    font-size: 1.714em;
		    color: $main-color;
		    @include border-radius(5px);
		    @include search-border(1px, solid, #cfd4db);
		}
}
figure {
	@include imagery;
}
figcaption{
	color: #007fb1;
	font-size: 1.286em;
	text-align: center;
}
/* Keyframes for search results */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
figure{
	-webkit-animation:fadeIn $ease-speed;
	-moz-animation:fadeIn $ease-speed;
	animation:fadeIn $ease-speed;
}
