<div ng-repeat="user in users | filter:query" class="col-md-4 col-xs-6">
    <figure class="figure">
        <img ng-src="{{user.picture}}" class="img-responsive" alt="{{user.firstName}}">
        <figcaption class="figure-caption">{{user.firstName}} {{user.lastName}}</figcaption>
    </figure>
</div><!--/User List -->